<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
    <link rel= "stylesheet" type= "text/css" href=" {{ url_for('static', filename='bulma.min.css')}} "/>
    <link rel= "stylesheet" type= "text/css" href=" {{ url_for('static', filename='bulma.css')}} "/>
    <link rel= "stylesheet" type= "text/css" href=" {{ url_for('static', filename='bulma.css.map')}} "/>
    <link rel= "stylesheet" type= "text/css" href=" {{ url_for('static', filename='bulma.sass')}} "/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="https://images.ecosia.org/VFUDfGUvVKV2aupd0RCfLeVRn38=/0x390/smart/https%3A%2F%2Fwww.babyfootvintage.com%2F2036%2Fbaby-foot-rene-pierre-euro.jpg" width="112" height="100">
            </a>
        
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/" >
                        Accueil
                    </a>
                    <a class="navbar-item" href="/show-players" >
                            Joueurs
                    </a>
                    <a class="navbar-item" href="/show-matchs">
                            Matchs
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <title>{% block title %}{% endblock %} - Expertiz Baby </title>
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
</body>
</html>
