
{% extends "base.html" %}
{% block title %}Expertiz Baby - Matchs{% endblock %}
{% block content %}

<div class="columns" id=ShowMatchs>
    <div class='column is-one-fifth'></div>
    <div class="column"  >
        <div class="card">
            <header class="card-header">
                    <h4 class="title" > Liste des matchs</h4>
            </header>
            <div class="card-content">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Date</td>
                            <td>Équipe 1</td>
                            <td> Score </td>
                            <td>Équipe 1</td>
                            <td> Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for match in matchs %}
                        <tr>
                            <td> {{ match.date }} </td>
                            <td>
                                {{ match.teams[0].players[0].lastname }} {{ match.teams[0].players[0].name }} 
                                {% if match.teams[0].players[1] %}
                                & {{ match.teams[0].players[1].lastname }} {{ match.teams[0].players[1].name }}
                                {% endif %}
                            </td>
                            <td>
                                <b> {{ match.teams[0].result }} - {{ match.teams[1].result }}  </b>
                            </td>
                            <td>
                                {{ match.teams[1].players[0].lastname }} {{ match.teams[1].players[0].name }} 
                                {% if match.teams[1].players[1] %}
                                & {{ match.teams[1].players[1].lastname }} {{ match.teams[1].players[1].name }}
                                {% endif %}
                            </td>
                            <td>
                                <a class="button is-primary" id="deleteMatch" href={{ url_for('delete_match', id_match=match.id) }}>Supprimer</a>
                            </td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="column">
        <a class="button is-primary" id="buttonAMatch" href= {{ url_for('add_match') }}>Ajouter un match</a>
    </div>
</div>

{% endblock %}
