
{% extends "base.html" %}
{% block title %}Expertiz Baby - Matchs{% endblock %}
{% block content %}
<div class="container" id=ShowMatchs>
    <div class="row">
        <div class="twelve column">
            <h4> Liste des matchs</h4>
        </div>
    </div>
    <div class="row">
        <div class="ten columns">
            <table class="u-full-width">
                <thead>
                    <tr>
                        <td>Date</td>
                        <td> Score </td>
                        <td> Action</td>
                    </tr>
                </thead>
                <tbody>
                    {% for match in matchs %}
                    <tr>
                        <td> {{ match.date }} </td>
                        <td>
                            {% for team in match.teams %}
                            {% for player in team.players %}
                            {{ player.name }} {{ player.lastname}}
                            {% endfor%}
                            {{ team.result }}
                            {% endfor %}
                        </td>
                        <td>
                            <a class="button button-primary" id="deleteMatch" href="/delete-match/{{ match.id }}">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
        <div class="two columns">
            <button class="button button-primary" id="buttonAMatch" onclick="AddMatch();">Ajouter un match</button>
        </div>
    </div>
</div>
<div id=AddMatch class="container">
    <div class="row">
        <div class="twelve columns">
            <h4>Ajouter un match</h4>
        </div>
    </div>
    <div class="row">
        <div class="four columns">
            <label for="team1player1-select" >Equipe 1</label>
        </div>
        <div class="four columns">
            <label>Score</label>
        </div>
        <div class="four columns">
            <label for="team2player2-select">Equipe 2</label>
        </div>
    </div>
    <form action="/add-match" method="POST" id="formAddMatch"></form>
         <div class="row">
            <div class="four columns">
                <select class="u-full-width" name="team1-select" id="team1-select" size="5" required multiple >
                            {% for player in players %}
                                <option  value= {{ player.id }} > {{ player.name }}  {{ player.lastname }} </option>
                            {% endfor%}
                </select>
            </div>
            <div class="four columns">
                <input class="u-full-width" id="result1" type="number" name="result1" value="" min="0" max="10" required/>
                <label> - </label>
                <input class="u-full-width" id="result2" type="number" name="result2" value="" min="0" max="10" required/>
            </div>
            <div class="four columns">
                <select class="u-full-width" name="team2-select" id="team2-select" size="5" required multiple >
                        {% for player in players %}
                            <option  value= {{ player.id }} > {{ player.name }}  {{ player.lastname }} </option>
                        {% endfor%}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                    <button class="button button-primary" id="buttonAddMatch" type="submit" value="">Valider</button>
                    <button class="button button-primary" id="buttonCancelAddMatch" onclick="cancelAddMatch();"> Annuler </button>
            </div>
        </div>
        </div>
     </form>
</div>
<script src='{{ url_for('static', filename='match.js') }}'></script>

{% endblock %}
