{% extends "base.html" %}
{% block title %}Expertiz Baby - Joueurs {% endblock %}
{% block content %}
<div class="container">
    <div class='row'>
        <div class="twelve column"><h4>Voici l'ensemble des joueurs</h4></div>
    </div>
    <div class="row" id="ShowPlayers" >
        <div class="ten columns">
            <table class="u-full-width">
                <thead>
                    <tr>
                        <td>Nom</td>
                        <td>Prenom </td>
                        <td> Niveau </td>
                        <td> Action</td>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                    <tr>
                        <td> {{ player.name }}</td>
                        <td> {{ player.lastname }}</td>
                        <td> {{ player.elo }}</td>
                        <td><a class="button button-primary" id="deletePlayer" href="/delete-player/{{ player.id }}">Supprimer</a></td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
        <div class="two columns">
            <button id="buttonAPlayer" onclick="AddPlayer();">Ajouter un joueur</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" id="AddPlayer" >
        <div class="eleven columns">
            <form action="/add-player" method="POST">
                <h4> Ajouter un joueur</h4>
                <label for="lastname_player">Prénom</label>
                <input class="u-full-width" id="lastname_player" type="text" name="lastname_player" value="" required/><br/>
                <label for="name_player">Nom</label>
                <input class="u-full-width" id="name_player" type="text" name="name_player" value="" required/><br/>
                <button class="button-primary" type="submit" name="validateNewPlayer">Valider</button>
                <button class="button-primary" id="buttonAPlayer" onclick="CancelAddPlayer();">Annuler</button>
            </form>
        </div>
    </div>
</div>

<script src='{{ url_for('static', filename='player.js') }}'></script>
{% endblock %}
{% block footer %}
{%  endblock %}
