{% extends "base.html" %}
{% block title %}Expertiz Baby - Joueurs {% endblock %}
{% block content %}
<div class="columns" id="ShowPlayers">
    <div class='column is-one-fifth'></div>
    <div class="column">
        <div class="card">
            <header class="card-header">
                <h3 class="title">Voici l'ensemble des joueurs
                </h3>
            </header>
            <div class="card-content">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Nom</td>
                            <td>Prenom </td>
                            <td> Niveau </td>
                            <td> Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in players %}
                        <tr>
                            <td> {{ player.name }}</td>
                            <td> {{ player.lastname }}</td>
                            <td> {{ player.elo }}</td>
                            <td><a class="button is-primary" id="deletePlayer" href= {{ url_for('delete_player', id_player=player.id) }} >Supprimer</a></td>
                        </tr> 
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="column">
        <a class="button is-primary" id="buttonAPlayer" href={{ url_for("add_player") }}>Ajouter un joueur</a>
    </div>
</div>
<script src='{{ url_for('static', filename='player.js') }}'></script>
{% endblock %}
